/* Root container and layout */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* App container */
.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Notification wrapper */
.notification-wrapper {
  margin-top: 20px;
}

/* Notification cards */
.notification {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #66f7ff;
  box-shadow: 0 4px 8px rgba(78, 72, 72, 0.564);
  margin-bottom: 20px;
  padding: 1.5rem;
  font-size: 1.25rem; /* Larger text for notifications */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.notification:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Card styles */
.card {
  padding: 2em;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 2rem; /* Larger text inside cards */
}

/* Typography */
h1 {
  font-size: 5rem; /* Large heading */
  font-weight: bold;
  color: #00ccff;
}

p {
  font-size: 1.9rem; /* Larger paragraph text */
  color: #ffbfbf;
}

/* Button styles */
button {
  cursor: pointer;
  font-size: 1.7rem; 
  padding: 12px 24px;
  border-radius: 20px;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  transform: scale(1.05);
}

button.btn-danger {
  background-color: #0a3e1e;
  color: #fff;
}

button.btn-danger:hover {
  background-color: #ff0019;
}

button.btn-primary {
  background-color: #007bff;
  color: #fff;
}

button.btn-primary:hover {
  background-color: #ff0000;
}

